.external-links svg {
  width: 15px;
  height: 15px;
  color: black;
  background-color: white;
  border-radius: 100%;
  border: 2px solid white;
  padding: 5px;
  margin-right: 10px;
}
.external-links svg:hover {
  border: 2px solid rgba(178, 80, 255);
}

.logo {
  color: white;
  font-size: 45px;
}
.navbar h3 {
  margin: 0;
}
.internal-links a {
  color: white;
  margin-right: 20px;
}
.mob-menu-btn {
  display: flex;
  align-items: center;
}
.navbar {
  z-index: 10;
  background-color: black;
  box-sizing: border-box;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: height 0.3s;
  padding: 10px 0;
  height: 80px;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.486);
}
.navbar.height {
  height: 65.6px;
}
.web-nav {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  align-items: center;
  margin: 0 auto;
}
.logo.height a {
  font-size: 20px;
}

.logo {
  display: flex;
  align-items: center;
}
.nav-links a {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
  margin: 0 1vw;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.nav-links a:hover {
  color: white;
}

.logo a {
  font-family: "Aclonica", sans-serif;
  font-size: 28px;
  text-decoration: none;
  color: white;
  align-items: center;
  transition: all 0.3s;
}

.accordion__content {
  overflow: auto;
  transition: max-height 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 20px;
}
.accordion__content::-webkit-scrollbar {
  display: none;
}
.slide-menu {
  display: none;
}
.menu-slide-btn {
  font-size: 12px;
  right: 0;
  display: flex;
  position: relative;
  z-index: 100000;
  cursor: pointer;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  border: 0;
}
.active {
  color: white;
}
.slide-menu-icon {
  position: relative;
  z-index: 100000;
  font-size: 20px;
  margin-right: 20px;
  width: 30px !important;
  height: 30px !important;

  color: white;
}
.nav-links a:hover {
  cursor: pointer;
}
.mobile-discord-link {
  text-decoration: none;
}
.accordion__content a {
  color: white;
  margin: 2vh 0;
  transition: color 0.1s;
  letter-spacing: 1px;
}
.accordion__content a:hover {
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .web-nav {
    width: 930px;
  }
}
@media screen and (max-width: 976px) {
  .nav-links {
    display: none;
  }
  .web-nav {
    display: none;
  }
  .navbar.height,
  .navbar {
    height: fit-content;
  }

  .slide-menu {
    display: block;
    width: 100%;
  }
  .slide-outter {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 990px) {
  .slide-outter {
    width: 720px;
    margin: 0 auto;
  }
  .accordion__content {
    width: 720px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .slide-outter {
    width: 540px;
    margin: 0 auto;
  }
  .accordion__content {
    width: 540px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  .accordion__content,
  .slide-outter {
    width: 90%;
  }
  .mobile-logo a {
    margin-right: 1vw;
    font-size: 16px;
  }
  .mobile-logo {
    width: 70vw;
  }
}
